@import '../../../common-styles/typography';


.aboutFirstHeader {
    width: 60%;
    margin: 10rem auto;
     h1 {
         @include heading($font-size: 3.2rem, $line-height: 4.4rem);
         text-align: center;
     }
}

.AboutHeader {
    background: #000040;
    padding: 12rem 0rem;
    text-align: center;
    h1 {
        @include heading($font-size: 4.4rem, $line-height: 6.4rem, $color: white);
    }

    p {
        @include content($font-size: 1.8rem, $line-height: 2.4rem);
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}

.aboutFire {
   @extend .AboutHeader;
   background: #EAF0F8;

   h1 {
       color: #000040;
   }

   p {
       color: #000040
   }
}

.founder {
  margin-bottom: 5rem;
  .founderContent {
    width: 70%;
    margin: 0 auto;
    h1 {
      @include heading($font-size: 4.4rem, $line-height: 6.4rem);
      text-align: center;
  }

  }
}


.teamFlipFlop {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   width: 80%;
   margin: 0 auto;
}

.founders {
    margin: 10rem 2rem;
    h1 {
        text-align: center;
        @include heading($color: #000040, $font-size: 4.4rem, $line-height: 4.4rem);
    };
}

.logosCarousel {
    width: 85%;
    margin: 0 auto;
  }


  .aboutAdvisorsMobile {
    width: 85%;
    margin: 0 auto;
    .headingStyles {
      @include heading($color: #000040, $font-size: 2.4rem, $line-height: 2.4rem);
    }
    .subheadingStyles {
      @include heading($color: #000400, $font-size: 1.8rem, $line-height: 2rem);
      text-align: center;
    }
    .containerClass {
      margin-bottom: 2rem;
    }
  }

    .ourAdvisors {
      width: 85%;
      margin: 10rem auto;
      h1 {
        @include heading($font-size: 4.4rem, $line-height:6.4rem, $color: #000040);
        text-align: center;
      }
    }

    .parterns {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .legalTeam {
      // @include flex($justify-content: center);
      padding: 2rem;
      margin: 5rem auto;
      p {
        text-align: center;
        @include content($font-size: 4rem, $color: #404F77, $font-family: 'Helvetica')
      }
    }

@media only screen and (max-width: 640px) {

    .aboutFirstHeader {
      margin: 3rem 0;
        width: 100%;
        padding: 0 2rem;
        h1 {
          @include heading($font-size: 2.4rem, $line-height: 2.8rem);
          text-align: center;
      }
    }


    .AboutHeader {
        padding: 2rem;
        h1 {
            @include heading($font-size: 3.2rem, $line-height: 6.4rem, $color: white);
        }

        p {
            @include content($font-size: 1.8rem, $line-height: 2.4rem);
            width: 100%;
        }
    }

    .aboutFire {
        background: #EAF0F8;

        h1 {
            color: #000040;
        }

        p {
            color: #000040
        }
     }

     .founder {
       margin-bottom: 0rem;
        .founderContent {
          padding: 2rem;
          width: 100%;
          h1 {
            @include heading($font-size: 3.2rem, $line-height: 5rem);
            text-align: center;
        }
        }
      }


      .teamFlipFlop {
         width: 100%;
         padding: 0;
        }

    .founders {
      margin: 6rem 3rem;
        h1 {
            text-align: center;
            @include heading($color: #000040, $font-size: 2.8rem, $line-height: 1rem);
        };
    }


    // .aboutAdvisors {
    //     display: none;
    // }
  
    .aboutAdvisorsMobile {
      display: block;
      .headingStyles {
        @include heading($color: #000040, $font-size: 2.4rem, $line-height: 2.4rem);
      }
      .subheadingStyles {
        @include heading($color: #000400, $font-size: 1.8rem, $line-height: 2rem);
        text-align: center;
      }
      .containerClass {
        margin-bottom: 2rem;
      }
    }
  
    .ourAdvisors {
      width: 100%;
      padding: 1rem;
      margin: 0rem;
      h1 {
        @include heading($font-size: 2.4rem, $line-height: 2.4rem, $color: #000040);
        text-align: center;
      }
    }


    .parterns {
      img {
        width: 30rem;
        height: 23rem;
      }

    }
}
