@import '../../common-styles/typography';

.listStyles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
        @include heading($font-size: 1.8rem, $color: #5C5AB8);
    }

    li {
        list-style: none;
        cursor: pointer;
        @include content($font-size: 1.4rem, $color: #404F77, $line-height: 3rem);
    }

    li:hover { 
        color: #40A4C8;
    }

    .list {
        pointer-events:none;
    }
}

@media only screen and (max-width: 640px) {
    .listStyles {

        h1 {
            @include heading($font-size: 1.5rem, $color: #5C5AB8);
        }

        li {
            list-style: none;
            @include content($font-size: 1.2rem, $color: #404F77, $line-height: 3rem);
        }
    }

}