@import '../../../common-styles/typography';

.NavigationItem {
    @include content($font-size: 1.5rem, $line-height: 1.6rem, $color: #404F77, $font-weight: 500);
    list-style: none;

    a {
        text-decoration: none;
        color: #404F77;
    }
    a:hover,
    a:active,
    a.active {
        color: #40A4C8;
    }
}
