@import '../../../common-styles/typography';

.FirstPageBody {
  background: #F9FCFF;
  padding-top: 5rem;

  .backGroundImageStyles {

    background-image: url("../../../assets2/Banner.svg");
    background-repeat: "no-repeat";

    .firstPageFooter {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .Applogo {
        height: 15.2rem;
        width: 15.2rem;
        pointer-events: none;
    }

    h1{
     @include heading($font-size: 6.4rem, $line-height: 6.4rem);
    }
 
    h2 {
     @include heading();
 
     span {
       color: #0071FF;
     }
    }
 
    p {
     text-align: center;
     @include content($color: #1E1E25, $font-size: 1.5rem, $line-height: 2.4rem)
    }
 
    .button {
     margin: 4.8rem auto;
    }
  }
  }
}


.GetStartedContainer {
  .getStartedInfo {
    background:#000040;
    .getStartedText {
      @include flex($justify-content: center);
      padding: 4rem;
      p {
        @include content($font-size: 1.9rem, $line-height: 3.4rem);
        width: 80%;
      }
      .button {
        background: #D0DDEC;
        color: #323A78;
       }
  }

  }

  .aboutFireContent {
    padding: 5rem;
    background: #EAF0F8;
    @include flex($justify-content: center);
      .whatIsFire {
        width: 50%;
        h1 {
          @include heading($font-size: 6.4rem, $line-height: 6rem)
        }

        p {
          @include content($font-size: 1.5rem, $line-height: 2.4rem, $color: #000040);
          width: 80%;
        }
      }

      .learnMoreAbout {
          @include flex($justify-content: space-between, $flex-direction: column, $align-items: normal);
        .learnMoreAboutText {
          p {
            @include content($font-size: 3.2rem, $line-height: 1rem, $color: #000040);
          }
  
          h1 {
            @include heading($font-size: 3.2rem, $line-height: 1rem);
          }
        }
        button {
          margin-top: 3.2rem;
        }
      }
   }

   .whyFireContent {
    padding: 5rem;
    background: #000040;
    @include flex($justify-content: center);
      .whyIsFire {
        width: 50%;
        h1 {
          @include heading($font-size: 6.4rem, $line-height: 6rem, $color: white)
        }

        p {
          @include content($font-size: 1.5rem, $line-height: 2.4rem, $color: white);
          width: 80%;
        }
      }

      .learnMoreAbout {
          @include flex($justify-content: space-between, $flex-direction: column, $align-items: normal);
        .learnMoreAboutText {
          p {
            @include content($font-size: 3.2rem, $line-height: 1rem, $color:white);
          }
  
          h1 {
            @include heading($font-size: 3.2rem, $line-height: 1rem, $color: white);
          }
        }
        button {
          margin-top: 3.2rem;
        }
      }
   }

}

.AboutFire {
  .parentHeader {
    background: #EAF0F8;
    .aboutHeader {
      @include flex($justify-content: center);
      padding: 10rem 5rem;
      margin: 0 auto;

      .aboutContent {
          h1 {
            @include heading($font-size: 4.4rem);
          }
          p {
            @include content($font-size: 3.2rem, $line-height: 4.4rem, $color: #000040);
            width: 50rem
          }
      }

      .aboutImageContainer {
        width: 55rem;
        height: 100%;
        .aboutImage {
          height: 100%;
          width: 100%;
          pointer-events: none;
        }
      }
    }
  }

}

.quoteStyle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  margin: 0 auto;
  width: 70%;
  p {
    span {
     color: #0071FF;
    }
   @include content($font-size: 2.2rem, $color: black, $line-height: 4rem, $letter-spacing: 0.02rem );
  }
  img {
    width: 6rem;
    height: 6rem;
    align-self: flex-start;
  }
}

.WhyFire {
.footerStyles {
  padding: 5rem;
  background: #000040;
  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
      @include heading($font-size: 3.2rem, $line-height: 3.2rem, $color: white);
      text-align: center;
    }

    p {
      @include content($font-size: 1.8rem, $line-height: 2.4rem);
      text-align: center;
    }
  }

  .proofOfFireBoxes {
   @include flex($flex-direction: column);
    .footerBody {
     @include flex($justify-content: space-between);
      width: 70%;
      margin: 5rem auto;
      .proofAddition {
        margin-right: 7rem;
        @include flex($justify-content: space-evenly, $align-items: center);
        .headingStyles {
          @include heading($color: white, $font-size: 2rem, $line-height: 3.6rem)
        }
      }
    }
  }
}

.featuresHeading {
  h1 {
    @include heading($font-size: 3.2rem, $line-height: 3.6rem, $color: #000040);
    text-align: center;
    margin-right: 3rem;
  }
}

  .features {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem auto;
    width: 65%;
    padding: 5rem 0;
  }

}




.foundersSection {
  .founder {
    background: #000040;
  .founderContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 0;

    h1 {
      @include heading($font-size: 6.4rem, $line-height: 6.4rem, $color: white);
      text-align: center;
      width: 70%
  }

    .button {
      margin-top: 4.8rem;
    }
  }
}

.aboutTeam {
  @include flex($justify-content: space-evenly);
  margin: 5rem auto;
  width: 70%;
    .headingStyles {
      @include heading($color: #000040, $font-size: 2rem, $line-height: 0.5rem);
      text-align: center;
      margin-top: 3rem;
    }

    .subheadingStyles {
      @include heading($color: #000400, $font-size: 2rem, $line-height: 0.5rem);
      text-align: center;
    }
}

.aboutTeamMobile {
  display: none;
}


  .foundersFeatured {
    margin-top: 9rem;
    h1 {
      @include heading($font-size: 5.4rem, $line-height:6.4rem, $color: #000040);
      text-align: center;
    }
  }

  .logosCarousel {
    width: 85%;
    margin: 0 auto;
  }
}


.aboutAdvisors {

  .subheadingStyles {
    @include heading($color: #000400, $font-size: 1rem, $line-height: 1rem);
    text-align: center;
  }
}




@media only screen and (max-width: 640px) {

  .FirstPageBody {
    .backGroundImageStyles {
   .firstPageFooter {
       justify-content: flex-start;
       display: flex;
       flex-direction: column;
       margin-top: 3rem auto;

       .Applogo {
         height: 4.5rem;
         width: 4.5rem;
         pointer-events: none;
     }

     h1{
      @include heading($font-size: 1.8rem);
     }

     h2 {
      @include heading($font-size: 1.4rem, $line-height: 3.2rem);
     }

     p {
      width: 90%;
      text-align: center;
      @include content($color: #1E1E25, $font-size: 1.2rem, $line-height: 2.4rem)
     }

     .button {
      margin: 2rem auto;
     }
   }
  }
  }

.GetStartedContainer {
  .getStartedInfo {
    background:#000040;

    .getStartedText {
      padding: 5rem 2.5rem;
      p {
        @include content($font-size: 1.8rem, $line-height: 3.4rem);
        width: 100%;
      }
  }

  }

  .aboutFireContent {
    padding: 2.5rem;
      .whatIsFire {
        width: 100%;
        h1 {
          @include heading($font-size: 3.2rem)
        }

        p {
          @include content($font-size: 1.5rem, $line-height: 2.4rem, $color: #000040);
          width: 100%;
        }
      }

      .learnMoreAbout {
          @include flex($justify-content: space-between, $flex-direction: row, $align-items: center);
        .learnMoreAboutText {
          p {
            @include content($font-size: 1.8rem, $line-height: 1rem, $color: #000040);
          }

          h1 {
            @include heading($font-size: 2.4rem, $line-height: 1rem);
          }
        }
        button {
          margin-top: 3.2rem;
        }
      }
   }

   .whyFireContent {
    padding: 2.5rem;
      .whyIsFire {
        width: 100%;
        h1 {
          @include heading($font-size: 3.2rem, $color: white)
        }

        p {
          @include content($font-size: 1.5rem, $line-height: 2.4rem, $color: white);
          width: 100%;
        }
      }

      .learnMoreAbout {
          @include flex($justify-content: space-between, $flex-direction: row, $align-items: center);
        .learnMoreAboutText {
          p {
            @include content($font-size: 1.8rem, $line-height: 1rem, $color: white);
          }

          h1 {
            @include heading($font-size: 2.4rem, $line-height: 1rem);
          }
        }
        button {
          margin-top: 3.2rem;
        }
      }
   }


}

.AboutFire {
  .parentHeader {
    .aboutHeader {
      padding: 2rem;
      margin: 0 auto;

      .aboutContent {
        h1 {
          @include heading($font-size: 2.4rem);
          text-align: center;
        }
          p {
            @include content($font-size: 2.4rem, $line-height: 3.2rem, $color: #000040);
            text-align: center;
            width: 100%;
          }
      }
    }
  }

}

.quoteStyle {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  p {
    span {
     color: #0071FF;
    }
    @include content($font-size: 1.8rem, $color: black, $line-height: 3.2rem);
  }
  img {
    width: 5rem;
    height: 6rem;
  }
}

.footerBody {
  .proofAddition {

    .headingStyles {
      @include heading($color: white, $font-size: 2rem, $line-height: 3.6rem)
    }
    .plusSymbol {
      display: none;
    }
  }
}

.WhyFire {
.footerStyles {
  padding: 2rem;
  .footerContent {
    padding: 1rem;
    h1 {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }
  .proofOfFireBoxes {
     .footerBody {
       .proofAddition {
         margin-right: 0rem;
         .headingStyles {
           text-align: center;
         }
       }
     }
   }
}

.featuresHeading {
  h1 {
    margin-right : 0rem;
  }
}

}

.foundersSection {
  .founder {
    .founderContent {
      padding: 2rem;
      h1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        width: 100%;
    }
    }
  }

  .aboutTeam {
      display: none;
  }

  .aboutTeamMobile {
    display: block;
    .headingStyles {
      @include heading($color: #000040, $font-size: 2rem, $line-height: 0rem);
      text-align: center;
      margin-top: 3rem;
    }

    .subheadingStyles {
      @include heading($color: #000400, $font-size: 2rem, $line-height: 1rem);
      text-align: center;
    }
  }

  .foundersFeatured {
    margin-top: 2rem;
    h1 {
      font-size: 24px;
    }
  }

}
}