
@import '../../common-styles/typography';

.appLogo {
    height: 6.4rem;
    width: 6.4rem;
    cursor: pointer;

}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    width: 70%;
    margin: 0 auto;
}


.items {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 1rem;
    align-items: center;
}

.burgerIcon {
    display: none;
}

.logoStyles {
    margin-left: 5rem;
}

.topHeader{
    box-shadow: inset 1px -3px 0px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    .topHeaderInner {
        @include flex($justify-content: flex-end, $align-items: center);
        margin: 0 auto;
        width: 70%;
        a {
            @include content($color: #6F6969, $font-size: 1.8rem, $font-weight: 700);
            margin: 0 3rem;
            cursor: pointer;
        }
        a:hover {
            color: #40A4C8;
        }
        img {
            cursor: pointer;
        }
        .Logo {
            margin: 0 3rem;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}


@media only screen and (max-width: 640px) {
    .Header {
        width: 100%;
        display: flex;
        background: #F9FCFF;
        padding: 2rem;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: inset 1px -3px 0px rgba(0, 0, 0, 0.1);
        align-items: center;
    }

    .appLogo {
        height: 3rem;
        width: 3rem;
        pointer-events: none;
    }
    .flexItems {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 40px;
        z-index: 2;
        padding: 2rem;
        margin: 2rem 0;
        background: #F9FCFF;
        height: 20rem;
        transition: transform 1s ease-out;
    }

    .items {
        display: none;
    }

    .burgerIcon {
        display: block;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        height: 3rem;
    }

    .burgerIcon:hover {
        cursor: pointer;
    }

    .Open {
        transform: translateX(0);
    }
    .Close {
        transform: translateX(-100%);
    }

    .topHeader{
        .topHeaderInner {
            @include flex($justify-content: center, $align-items: center);
            width: 100%;
            a {
                font-size: 1.2rem;
                margin: 0 1rem;
            }

            .Logo {
                width: 2rem;
                height: 2rem;
                margin: 0 1rem;
            }
        }
    }
}