.contentStyle {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1rem 0;

    h1 {
        font-size: 24px;
        color: #404F77
    }
    p {
        font-size: 14px;
        color: #404F77
    }
}