.imgbox {
    display: flex;
    justify-content: center;
    align-items: center;

    .roadmap{
        max-width: 100%;
        margin: auto;
    }
}


@media only screen and (max-width: 640px) {

    .imgbox {
        .roadmap{
            max-width: 100%;
            margin: auto;
        }
    }
}