@import '../../../common-styles/typography';

.techHeader {
    text-align: center;
    width: 80%;
    margin: 10rem auto;
    h1 {
        @include heading($font-size: 3.2rem, $color: #000040);
    }
}

.techBoxStyles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    .techBox {
        cursor: pointer;
        width: 30rem;
        background: #000040;
        border-radius: 1rem;
        text-align: center;
        align-items: center;
        margin: 4rem auto;
        h1 {
            @include heading($font-size: 1.8rem, $color: white)
        }
    }
}

@media only screen and (max-width: 640px) {

.techHeader {
    text-align: center;
    width: 100%;
    padding: 0 2rem;
    margin: 3rem 0;
    h1 {
        @include heading($font-size: 2.4rem, $line-height: 2.4rem);
    }
}
}