.logoStyles {
    height: 8rem;
    margin-left: 5rem;
  }


.App-logo {
    height: 4rem;
    pointer-events: none;
}

.Header {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 80%;
    height: 3rem;
}


.items {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 1.5rem;
}