@import '../../../common-styles/typography';

.aboutPageHeader {
    width: 70%;
    margin: 10rem auto;

    h1 {
        @include heading($font-size: 3.6rem, $line-height: 3.8rem);
        text-align: center;
    }
}


.proofOfFire {
    padding: 3rem 0rem;
    background: #000040;
    .proofOfFireContent {

      h1 {
        @include heading($font-size: 3.2rem, $line-height: 3.2rem, $color: white);
        text-align: center;
      }

      p {
        @include content($font-size: 1.8rem, $line-height: 2.4rem);
        text-align: center;
      }
    }

    .proofOfFireBoxes {
      .footerBody {
       @include flex($justify-content: space-evenly);
        width: 80%;
        margin: 5rem auto;
          .headingStyles {
            @include heading($color: white, $font-size: 2.4rem, $line-height: 1.6rem)
          }
          .paragraphStyles {
              @include content($font-size: 1.8rem, $line-height: 2.4rem);
              width: 35rem;
              text-align: center;
          }
      }
    }
  }

  .imageContent {
    margin: 5rem auto;
    width: 85%;
    @include flex($justify-content: space-evenly);
    .Applogo {
        width: 44rem;
        height: 44rem;
    }
    .Content {
        width: 40%;
        p {
            @include content($color: #000040, $font-size: 2.4rem,$line-height: 3.2rem, $font-weight: 700);
         }
    }
}

.consensusHeading {
    width: 62%;
    margin: 0 auto;
    text-align: left;
    h1 {
        @include heading($font-size: 3.2rem);
    }
}

.consensusActors {
    .consensusActorsBody {
     @include flex($justify-content: space-between);
      width: 62%;
      margin: 5rem auto;
        .headingStyles {
          @include heading($font-size: 2.4rem, $line-height: 3.6rem);
        }
        .paragraphStyles {
            @include content($font-size: 1.8rem, $line-height: 2.4rem, $color: black);
            width: 40rem;
        }

        .containerStyles {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 2rem 0rem;
        }
    }
  }

  .buildFire {
      background-color: #000040;
      padding: 2rem;
     .buildFireContainer {
          .buildFireHeading {
            width: 80%;
            margin: 0 auto;
              text-align: center;
            h1 {
                @include heading($font-size: 3.2rem, $line-height: 6.4rem, $color: white);
              }
          }

          .imageContent {
            @include flex($justify-content: space-evenly);
            width: 80%;
            margin: 5rem auto;
              .headingStyles {
                @include heading($font-size: 2.4rem, $line-height: 3.2rem, $color: white);
                width: 30rem;
                margin-top: 2rem;
              }
              .containerStyles {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  margin: 2rem;
              }
          }
      }
  }

  .technologyStack {
      margin: 5rem auto;
    .techstackHeading {

        h1 {
            @include heading($font-size: 3.2rem, $line-height: 3.2rem);
            text-align: center;
        }
    }

    .cardStyles {
        width: 80%;
        margin: 0 auto;
        @include flex($justify-content: space-evenly);

    }
}

@media only screen and (max-width: 640px) {

.aboutPageHeader {
    width: 100%;
    margin: 3rem auto;
    padding: 0 2rem;

    h1 {
        @include heading($font-size: 2.4rem, $line-height: 2.8rem);
        text-align: center;
    }
}

.proofOfFire {
    padding: 2rem;
    .proofOfFireBoxes {
      .footerBody {
       @include flex($justify-content: space-evenly);
        width: 100%;
        margin: 5rem auto;
          .headingStyles {
            @include heading($color: white, $font-size: 2.4rem, $line-height: 1.6rem);
            margin-top: 2rem;
          }
          .paragraphStyles {
              @include content($font-size: 1.8rem, $line-height: 2.4rem);
              width: 100%;
              text-align: center;
          }
      }
    }
  }

  .imageContent {
    margin: 2rem auto;
    width: 100%;
    @include flex($justify-content: space-evenly, $flex-direction: column-reverse);
    .Applogo {
        width: 26rem;
        height: 26rem;
    }
    .Content {
        width: 100%;
        padding: 1rem;
        p {
            @include content($color: #000040, $font-size: 1.8rem,$line-height: 2.7rem, $font-weight: 700);
            text-align: center;
         }
    }
  }

  .consensusHeading {
      width: 100%;
      @include flex($justify-content: center);
      h1 {
          @include heading($font-size:3.2rem, $line-height: 2rem);
      }
  }

  .consensusActors {
    padding: 2rem;
    .consensusActorsBody {
      width: 100%;
      margin: 2rem auto;
        .headingStyles {
          @include heading($font-size: 2.4rem, $line-height: 2.4rem);
          text-align: center;
        }
        .paragraphStyles {
            @include content($font-size: 1.8rem, $line-height: 2.4rem, $color: black);
            width: 100%;
            text-align: center;
        }
        .containerStyles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem 0rem;
        }
    }
  }


  .buildFire {
    background-color: #000040;
    padding: 2rem;
    text-align: center;
   .buildFireContainer {

        .buildFireHeading {
          width: 100%;
          h1 {
              @include heading($font-size: 2.4rem, $line-height: 2.4rem, $color: white);
            }
        }

        .imageContent {
          @include flex($justify-content: space-evenly);
          margin: 4rem auto;
            .headingStyles {
              @include heading($font-size: 1.8rem, $line-height: 2.4rem, $color: white);
              width: 100%;
            }

            .containerStyles {
              margin: 2rem 0;
              justify-content: center;
              align-items: center;
            }
        }
    }
}


.technologyStack {
  margin: 2rem 0;
  .cardStyles {
      width: 100%;
  }
}

}