.aboutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .aboutDescImage {
        height: 5.2rem;
        width: 5.9rem;
        align-self: flex-start;
        margin-top: 3rem;
    }

    p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        /* or 160% */
        letter-spacing: -0.02em;
        color: #1E1E25;
        width: 30rem;
    }

    // h1 {
    //     font-family: Futura;
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 24px;
    //     line-height: 36px;
    //     /* or 150% */
    //     letter-spacing: -0.02em;
    //     color: #000040;
    //     align-self: flex-start;
    //     width: 30rem;
    // }
}