.startedImages {
    height: 20rem;
    pointer-events: none;
    margin-left: 10rem;
}

.imageLayout {
    width: 40%;
    background: #F6F7FA;
    box-shadow: 0.5rem 0.5rem 3rem rgba(64, 79, 119, 0.05);
    border-radius: 1rem;
    margin-top: 5rem;
}

.textStyles {
    background: #000040;
    height: 9rem;
    border-radius: 0.5rem;
    padding: 1rem;

     p {
        color: white;
        width: 35rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }

    h2 {
        color:white;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }
}